.todoItem {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1rem 3rem;
  font-size: 2rem;
  font-weight: 300;
  color: #737373;
  border-bottom: 1px solid #c5c5c572;
}

.todoItem span {
  width: 100%;
  overflow-wrap: break-word;
}

.deleteBtn {
  position: relative;
  display: block;
  opacity: 0;
  color: rgb(202, 102, 102);
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  right: -0.9rem;
}

.todoItem:hover .deleteBtn {
  opacity: 1;
}
